@charset "UTF-8";
@font-face {
    font-family: DynaPuff;
    src: url(fonts/DynaPuff-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: EBGaramond;
    src: url(fonts/EBGaramond-VariableFont_wght.ttf);
}
@font-face {
    font-family: Lato;
    src: url(fonts/Lato-Regular.ttf);
}

:root {
    --preto: #000000;
    --branco: #ffffff;
    --trans: #00000000;
    --fundo: #f5f5f5;

    --cor1: #B7E8FD;
    --cor2: #5DCBFA;
    --cor3: #07ADF5;
    --cor4: #056F9C;
    --cor5: #023145;

    --cori1: #FDE8B7;
    --cori2: #FACB5D;
    --cori3: #F5AD07;
    --cori4: #9C6F05;
    --cori5: #453102;

    --corc: #07F507;
    --core: #F50707;

    --fon1: DynaPuff;
    --fon2: EBGaramond;
    --fon3: Lato;

    --bm: 0.5vw;
}

* {
    font-family: var(--fon2), var(--fon3), 'Times New Roman', Times, serif;
    font-size: clamp(1rem, 5vw, 1.1rem);
    margin: 0 auto;
}
html {
    background: var(--preto) url(/anexos/midias/fundo-star.gif) fixed center;
    overflow: clip;
}
body {
    background: #00000088;
    height: 100svh;
    overflow: scroll;
}
h1 {
    font-family: var(--fon1);
}
p {
    line-height: 1.8rem;
    text-align: justify;
}
a, address {
    text-decoration: none;
}
button {
    cursor: pointer;
}
img {
    display: block;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}



/* 01 */
/* 01 */
/* 01 */
.section1 {
    padding: 0.5rem 0;
}
.card {
    border: 2px solid black;
}



/* 02 */
/* 02 */
/* 02 */
.body02 {
    background: var(--preto) url(/anexos/midias/fundo-1.png) fixed center;
}

.header02, .main02, .footer02 {
    width: clamp(300px, 100%, 1200px);
}
.header02 {
    background: linear-gradient(-30deg, var(--cor4), var(--cor1), var(--cor4));
    height: 5svh;
}
.nav02 > a {
    font-family: var(--fon1);
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    text-wrap: nowrap;
    color: var(--branco);
}
#search02 {
    padding: 0.1rem;
    border-radius: 0.5rem;
    width: clamp(50px, 90%, 700px);
    height: 3svh;
}

.main02 {
    min-height: 93svh;
}

/* ENUNCIADO */
.enunciado {
    text-align: justify;
    padding: 0.5rem;
}
.link-dica {
    text-decoration: 2px underline var(--cori2);
    cursor: pointer;
}
.figure {
    width: 90%;
}
.img02 {
    width: clamp(100px, 50vh, 90vw);
    border: 1px solid var(--preto);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.33);
}
.figure *, .caption, .caption * {
    font-size: 0.8rem;
    text-align: end;
}
.caption {    
    width: 80%;
    margin: 0 0 1rem auto;
}

.dica {
    display: none;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);

    background-color: var(--cori1);
    border: thick double var(--preto);
    border-radius: 5px;

    padding: 0.5rem;
}
.dica > button {
    display: block;
    border-radius: 5px;
    padding: 0.2rem;
    background-color: var(--fundo);

    font-family: var(--fon1);
    color: var(--preto);

}

/* OPÇÕES */
input[type="radio"] {
    display: none;
}
.label-opt {
    display: block;
    background-color: var(--branco);
    font-size: 1.2rem;
    padding: 0.3rem;
    border: 1px outset var(--preto);
    border-radius: 5px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.33);
    margin: 0.2rem 0;
}
.label-opt:hover {
    background-color: var(--cor1);
    cursor: pointer;
    transition: 0.2s;
}
.label-opt:active {
    background-color: var(--cor3);
    transition: 0.1s;
    box-shadow: 2px 2px rgba(0, 0, 0, 0);
}
.enunciado input[type="radio"]:checked + label{
    background-color: var(--cor2);
}
.imgopt {
    width: 16rem;
    margin: 0 1.5rem;
}

.bresponder {
    position: relative;
    background: transparent;
    font-family: var(--fon1);
    font-weight: 400;
    padding: 0.5rem 1rem;
    border: 1px solid rgb(61, 106, 255);
    border-radius: 0.5rem;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.33);
    margin: 1.5rem 0.5rem;
    overflow: hidden;
    transition: all 0.2s ease-in;
}  
.bresponder:hover {
    font-weight: 500;
    color: var(--branco);
    background: var(--cor4);
    box-shadow: 0 0 30px 5px var(--cor3);
    transition: all 0.2s ease-out;
}  
.bresponder:hover::before {
    animation: sh02 0.5s 0s linear;
}  
.bresponder::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    transform: skewX(-20deg);
}  
@keyframes sh02 {
    from {
      opacity: 0;
      left: -100%;
    }
  
    50% {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      left: 150%;
    }
}  
.bresponder:active {
    box-shadow: 0 0 0 0 transparent;
    transition: box-shadow 0.2s ease-in;
}

/* GABARITO */
.gabarito {
    display: block;
    padding: 1rem;
    animation: aparecer 0.5s;
}
#resposta {
    font-family: var(--fon1);
    font-size: 1.5rem;
    font-weight: 600;
}

.bsreso {
    display: flex;
    background-color: var(--branco);
    width: 90%;
    padding: 0.8rem 1rem;
    border-radius: 3rem;
    box-shadow: 0 0 1px var(--cor1), 4px 8px 12px var(--cor5);
    margin: 1rem auto;
}

.label-breso {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.4rem 1rem;
    border-radius: 3rem;
    cursor: pointer;
    transition: 0.25s ease-in;
}
.label-breso:hover {
    background-color: var(--cor1);
}
.gabarito input[type="radio"]:checked + label {
    color: var(--branco);
    background-color: var(--cor5);
}

.reso {
    padding: 1rem;
    transition: 1s;
    animation: aparecer 1s;
}
#reso1, #reso2, #reso3, #vdo2 {
    display: block;
}

.reso > p {
    padding: 0.3rem;
}
math {
    padding: 0.5rem;
}

.video {
    display: block;
    width: 80%;
    margin: 1rem auto;
    animation: aparecer 1s;
}
#vdo1 {
    aspect-ratio: 16/9;
}
#vdo2 {
    aspect-ratio: 9/16;
    max-height: 500px;
}

.footer02 {
    background-color: var(--cor5);
    font-size: 0.8rem;
    text-align: center;
    color: var(--branco);
    padding: 0.2rem 0;
}



/* 03 */
/* 03 */
/* 03 */
.body03 * {
    color: #fff;
    scrollbar-width: none;
}

.h103 {
    font-size: clamp(1rem, 3vh, 2rem);
    text-align: center;
    text-wrap: balance;
    height: 10svh;
    padding: 0 1rem;
    overflow: clip;
    text-shadow:
    -0.1rem 0 var(--preto),
    0.1rem 0 var(--preto),
    0 -0.1rem var(--preto),
    0 0.1rem var(--preto);
}
.h203 {
    font-size: clamp(1.2rem, 5vw, 1.6rem);
    text-align: center;
    text-decoration: underline;
    padding: 0.5rem;
}

.main03 {
    width: calc(90% - 10vw);
    height: 90svh;
    padding: 0 5vw;
    overflow: clip;
}
.section3 {
    overflow-y: clip;
    border: thick double var(--branco);
    border-radius: 1rem;
    margin: 1.5rem 0;
    transform: translate(-100%);
    opacity: 0;
    transition: max-height 1s, transform 1s, opacity 1s;
}

.botao03 {
    cursor: pointer;
    background-color: var(--preto);
    border-radius: 5px;
    font-family: var(--fon1);
    text-wrap: nowrap;
    padding: 0.5rem;
}
.select03 {
    font-size: clamp(1rem, 5vw, 2rem);
    cursor: pointer;

    padding: 0.5rem;
    background-color: var(--preto);
    border: 2px solid var(--branco);
    border-radius: 10px;
}

/* BOTOES */
.botao-icone {
    position: absolute;
    aspect-ratio: 1;
    background-color: var(--preto);
    border-radius: 5px;
}
.icon-botao {
    width: clamp(1rem, 7vw, 2rem);
    filter: invert(100%);
    background-color: var(--branco);
}
#bback {
    left: var(--bm);
    top: var(--bm);
}
#bconf, #bajuda, #bvolu, #bdark {
    top: var(--bm);
    right: var(--bm);
}
#bmaxi {
    bottom: var(--bm);
    right: var(--bm);
    opacity: 50%;
}

/* POP UP */
.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 0 1rem;

    background-color: var(--preto);
    border: 3px solid var(--branco);
    border-radius: 15px;
}
#ajuda {
    display: block;
    width: 80%;
    height: 80%;
}

.h1-ajuda {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    font-size: clamp(1rem, 7vw, 2rem);
    text-align: center;
    text-wrap: balance;
    font-family: var(--fon1);
}
.mid-ajuda {
    height: 75%;
    overflow: scroll;
}

.botao-ajuda {
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bot-ajuda {
    position: absolute;
    bottom: var(--bm);
    left: var(--bm);
}
.bot-ajuda , .bot-ajuda * {
    font-size: 1rem;
}



/* 04 */
/* 04 */
/* 04 */
.main04 * {
    background: #fff url(/anexos/midias/fundo-2.png);
}



/* 05 */
/* 06 */
.main05 {
    background: url(/anexos/midias/fundo-3.png) fixed center;
    position: relative;
    height: calc(100svh - 2rem);
    overflow-y: scroll;
    padding: 1rem;
    animation: 1s entrar forwards;
}
@keyframes entrar {
    from {left: -100%}
    to {left: 0%}
}

.section05 {
    background-color: #f0f0f0;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    opacity: 0;
    animation: 1s aparecer forwards 1s;
}
@keyframes aparecer {
    from {opacity: 0}
    to {opacity: 1}
}

.h205 {    
    padding-bottom: 1rem;
}
.link-sub {
    text-decoration: underline;
}
address {
    display: inline-block;
}

.botao05 {
    opacity: 0;
    animation: 1s aparecer forwards 1s;
}
.botao05 > a {
    color: #000;
    padding: 0.3rem;
}
