@charset "UTF-8";
@font-face {
    font-family: DynaPuff;
    src: url(fonts/DynaPuff-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: EBGaramond;
    src: url(fonts/EBGaramond-VariableFont_wght.ttf);
}
@font-face {
    font-family: Lato;
    src: url(fonts/Lato-Regular.ttf);
}

:root {
    --preto: #000000;
    --branco: #ffffff;
    --trans: #00000000;
    --fundo: #f2f2f2;

    --cor1: #B7E8FD;
    --cor2: #5DCBFA;
    --cor3: #07ADF5;
    --cor4: #056F9C;
    --cor5: #023145;

    --fon1: DynaPuff;
    --fon2: EBGaramond;
    --fon3: Lato;

    --bm: 0.5vw;
}

* {
    margin: auto;
    padding: 0;
    font-family: var(--fon2), var(--fon3), 'Times New Roman', Times, serif;
    font-size: clamp(1rem, 5vw, 1.1rem);
}
html {
    background: var(--preto) url(/anexos/midias/fundo-star.gif) fixed center;
}
body {    
    background: #00000088;
}
h1 {
    font-family: var(--fon1);
}
a, address {
    text-decoration: none;
}
p {
    text-align: justify;
    line-height: 2rem;
}
img {
    display: block;
}
button {
    cursor: pointer;
}
.section1 {
    padding: 0.5rem 0;
}
.section3 {
    overflow-y: clip;
    border: thick double var(--branco);
    border-radius: 1rem;
    margin: 1.5rem 0;
    transform: translate(-100%);
    opacity: 0;
    transition: max-height 1s, transform 1s, opacity 1s;
}

.img {
    max-width: 200px;
    border: 2px solid var(--branco); 
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}


/* 01 */

.card {
    border: 2px solid black;
}


/* 02 */
.header02, .main02, .footer02 {
    width: clamp(400px, 90%, 1200px);
    padding: 0.2rem;
}
.header02 {
    width: clamp(400px, 90%, 1200px);
    background-color: var(--cor3);
    display: flex;
    align-items: center;
}
.nav02 > a {
    font-family: var(--fon1);
    font-weight: bold;
    color: var(--branco);
}
.pesquisar {
    position: relative;
    right: 0;
}
.main02 {
    width: clamp(400px, 90%, 1200px);
    background-color: var(--fundo);
    overflow: clip;
}

.enunciado {
    text-align: justify;
    padding: 0.5rem;
}
.figure {
    width: 90%;
}
.img02 {
    max-width: 100%;
}
.figure * {
    font-size: 0.8rem;
    text-align: end;
}

.dica {
    display: none;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);

    background-color: var(--cor2);
    border: thick double var(--preto);
    border-radius: 5px;

    padding: 0.5rem;
}
.dica > button {
    display: block;
    border-radius: 5px;
    padding: 0.2rem;
    background-color: var(--fundo);

    font-family: var(--fon1);
    color: var(--preto);

}

input[type="radio"] {
    display: none;
}
label {
    display: block;
    margin: 0.2rem 0;
    border: 1px outset var(--preto);
    border-radius: 5px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.253);
    padding: 0.3rem;
    font-size: 1.2rem;
}
label:hover {
    background-color: var(--cor1);
    cursor: pointer;
    transition: 0.2s;
}
label:active {
    background-color: var(--cor2);
    transition: 0.1s;
}
input[type="radio"]:checked ~ label{
    background-color: #FAcb5d;
}

.link-dica {
    text-decoration: underline dashed;
    cursor: pointer;
}

.bresponder {
    margin: 1rem;
    padding: 0.2rem 0.5rem;
    font-family: var(--fon1);
}
.gabarito {
    display: none;
}
#resposta {
    padding: 1rem;
    font-family: var(--fon1);
}

.bresp {
    padding: 0.2rem 0.5rem;
}
.divres {
    max-height: 0rem;
    opacity: 0;
    visibility: collapse;
    padding: 1rem;
}

.video {
    display: block;
    margin: 1rem auto;
}

.footer02 {
    font-size: 0.8rem;
    background-color: var(--cor5);
    text-align: center;
    color: var(--branco);
}



/* 03 */

.h103 {
    font-family: var(--fon1);
    font-size: clamp(1rem, 5vh, 2rem);
    text-align: center;
    text-wrap: balance;
    height: 10svh;
    text-shadow:
    -0.1rem 0 var(--preto),
    0.1rem 0 var(--preto),
    0 -0.1rem var(--preto),
    0 0.1rem var(--preto);
}
.main03 {
    width: 90%;
    height: 90svh;
    padding: 0 5vw;
    overflow: clip;
}

.h203 {
    display: inline-block;
    font-size: clamp(1.2rem, 5vw, 1.4rem);
    text-decoration: underline;
}

.button03 {
    cursor: pointer;
    background-color: var(--preto);
    border-radius: 5px;
    font-family: var(--fon1);
    text-wrap: nowrap;
    padding: 0.5rem;
}
.select03 {
    font-size: clamp(1rem, 5vw, 2rem);
    cursor: pointer;

    padding: 0.5rem;
    background-color: var(--preto);
    border: 2px solid var(--branco);
    border-radius: 10px;
}


/* BOTOES */
.botao-icone {
    position: absolute;
    aspect-ratio: 1;
    background-color: var(--preto);
    border-radius: 5px;
}
.icon-botao {
    width: clamp(1rem, 7vw, 2rem);
    filter: invert(100%);
    background-color: var(--branco);
}
#bback {
    left: var(--bm);
    top: var(--bm);
}
#bconf, #bajuda, #bvolu, #bdark {
    top: var(--bm);
    right: var(--bm);
}
#aviso {
    position: absolute;
    text-align: justify;

    max-width: clamp(1rem, 70vw, 50vh);
    min-width: 40%;
    padding: 0.4rem;
    top: var(--bm);

    border: 0.2rem solid var(--branco);
    border-radius: 0.5rem;
    background-color: red;
}
input[type='email'], textarea {
    color: black;
    margin: 0.3rem 0;
    width: 100%;
    text-wrap: wrap;
    field-sizing: content;
}
#bmaxi {
    bottom: var(--bm);
    right: var(--bm);
    opacity: 50%;
}



/* POP UP */
.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 0 1rem;

    background-color: var(--preto);
    border: 3px solid var(--branco);
    border-radius: 15px;
}
#ajuda {
    display: block;
    width: 80%;
    height: 80%;
}


.h1-ajuda {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    font-size: clamp(1rem, 7vw, 2rem);
    text-align: center;
    text-wrap: balance;
    font-family: var(--fon1);
}
.mid-ajuda {
    height: 75%;
    overflow: scroll;
}

.botao-ajuda {
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bot-ajuda {
    position: absolute;
    bottom: var(--bm);
    left: var(--bm);
}
.bot-ajuda , .bot-ajuda * {
    font-size: 1rem;
}

