@charset "UTF-8";

@font-face {
    font-family: DynaPuff;
    src: url(fonts/DynaPuff-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: EBGaramond;
    src: url(fonts/EBGaramond-VariableFont_wght.ttf);
}

@font-face {
    font-family: Lato;
    src: url(fonts/Lato-Regular.ttf);
}
:root {
    --cor1: #B7E8FD;
    --cor2: #5DCBFA;
    --cor3: #07ADF5;
    --cor4: #056F9C;
    --cor5: #023145;

    --fon1: DynaPuff;
    --fon2: EBGaramond;
    --fon3: Lato;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: var(--fon2), var(--fon3), Helvetica, Arial, sans-serif;
    /* font-size: 36px; */
}



/* GERAL */

html {
    background: var(--cor1) url(/_midias/fundo.svg) no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
}
body {
    margin: auto;
    max-width: 1600px;
    box-shadow: 1px 0px 20px 1px rgba(0, 0, 0, 0.486);
}
h1 {
    display: flex;
    align-items: center;
    justify-content:center; /*PC*/

    font-size: clamp(75px, 13vw, 200px);
    height: 240px;
    text-align: center; /*cel*/

    font-family: var(--fon1);
    padding: 0 5%;
    
}
h2 {
    font-family: var(--fon1);
    padding: 10px;
    color: var(--cor5);
    font-size: 1.2rem;
    text-align: center;
}
h3 {
    font-style: italic;
    font-size: 1rem;
    padding: 0.5em;
}
p {
    padding: 10px 20px;
    line-height: 25px;
    text-align: justify;
    text-indent: 1rem;
}
a {
    text-decoration: none;
}

ul {
    list-style:none;
}
button {
    background: none;
    border: none;
    cursor: pointer;
}

/* HEADER */
header {
    background-color: var(--cor3);
    color: white;
}

#cabe {
    display: grid;
    justify-content: center;
    grid-template-columns: 30px 100fr 30px;
}

.space {
    display: flex;
    justify-content: end;
    align-items: start;
}

.icon {
    width: 3rem;
    margin: auto; /* ajuste pq img tem margin diferente */
    filter: invert(100%); /*preto fica branco*/
}

/* NAV */
#nav1 {
    background-color: var(--cor1);
    display: flex;
    gap: 0.1em;
    font-weight: 600;
}

nav > a {
    padding: 0.1em 0.3em;
    font-size: 1.3rem;
    color: black;
    border-radius: 9px 9px 0 0;
}

nav > a:hover {
    background: var(--cor4);
    color: white;
    transition: 0.3s;
}

#barra {
    height: 2px;
    background-color: var(--cor4);
}
/* Search */
div#search {
    position: absolute;
    top: -15%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    display: flex;
    width: 75%;
    padding: 5px;
    background-color: var(--cor5);
    border-radius: 0 0 5px 5px;
}

input[type='text'] {
    color: black;
    font-size: 20px;
    width: 90%;
    height: 40px;
}

/* NAV 3 */
nav > ul > li > a {
    display: block;
    height: 20px;
    padding: 5px;
    background-color: var(--cor3);
    color: white;
    text-decoration: none;

}


nav > ul > li > a:hover {
    display: block;
    height: 20px;
    padding: 5px;
    background-image: linear-gradient(to bottom, var(--cor1),var(--cor3));
    color: white;
    text-decoration: none;
    border-radius: 0px 150px 0 0;
    transition: 0.5s;
} 



/* MAIN */
/* MAIN */
/* MAIN */

main {
    /* display: block; */
    background-color: rgb(255, 255, 255);
}



/* CONTEÚDO */

img {
    display: block;
    margin: 10px auto;
}

.img {
    height: 50px;
    padding: 10px;
    max-width: 80%;
    margin: auto;
}
strong {
    text-decoration: none;
    cursor: pointer;
}

.box {
    display: none;
    position: absolute;
    bottom: 50vh;
    left: 50%;

    width: 300px;
    height: auto;
    background-image: linear-gradient(125deg, rgb(255, 255, 255),rgb(250, 250, 250));
    border: 2px outset var(--cor1);
    border-radius: 5px;
}

div.box > button {
    float: right;
    margin: 10px;
}
input[type="radio"] {
    display: none;
}

input.botao {
    display: block;
}

label {
    display: block;
    width: auto;
    height: 30px;
    border: 1px outset black;
    border-radius: 3px;
    margin: 5px;
    padding: 5px;
}

label:hover {
    background-color: rgba(187, 187, 187, 0.404);
    cursor: pointer;
    transition: 0.2s;
}

label:active {
    background-color: rgba(223, 223, 0, 0.658);
    transition: 0.1s;
}


.botao {
    font-size: 1.2em;
    color: var(--cor5);
    background-color:  rgba(233, 233, 233, 0.651);
    margin: 10px;
    padding: 15px;
    cursor: pointer;
    border: var(--cor3) 2px outset;
    border-radius: 8px;

}

.botao:active {
    background-color: rgba(221, 221, 221, 0.726);
    border: var(--cor3) 2px inset;
    border-radius: 7px;
}




div#res {
    font-family: 'DynaPuff', cursive;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 2em;
}


section.resposta {
    display: none;
    margin-top: 5px;
    border: 1px solid var(--cor5);
    border-radius: 3px;
    padding: 5px;
    cursor: pointer;
}



div.divres {
    display: none;
    padding: 10px;
    text-align: justify;
    transition: 0.1s;
    border: 1px solid var(--cor5);
    border-radius: 3px;
}




/* FOOTER */
/* FOOTER */
/* FOOTER */    


#ad1 {
    display: block;
    background-color: white;
    text-align: center;
    width: 100%;
    margin-top: 10px;
}


.update {
    display: block;
    font-size: 0.8rem;
    text-align: end;
    padding-right: 0.1em;
}
footer {
    font-size: 15px;
    width: 100%;
    background-color: var(--cor5);
    color: white;
    text-align: center;
    padding: 5px 0;
}