@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500;600;700&family=Passion+One:wght@400;700&display=swap');



:root {
    --cor1: #51C1F1;
    --cor2: #22B5F4;
    --cor3: #07ADF5;
    --cor4: #0191D0;
    --cor5: #016590;
}

* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}





html {
    width: 100vw;
    height: 100%;
    background-color: var(--cor1);
}



body {
    height: 100%;
    width: 100%;
    max-width: 1500px;
    margin: auto;
}








/*Header importado */


nav#nav1 {
    background-color: var(--cor3);    
    font-size: 20px;
    padding: 5px;
    margin-left: 10px;
}


nav > a {
    text-decoration: none;
    background-image: linear-gradient(to bottom, var(--cor1),var(--cor2));
    color: black;
    border-radius: 10px 10px 0 0;
    padding: 5px;

}


a:hover {
    background-image: var(--cor1);
    color: white;
    border-radius: 10px 10px 0 0;
    transition: 0.3s;
}






main {
    display: block;
    width: 100%;
}


nav#nav2 {
    display: flex;
    width: 200px;
    height: 100%;
    background-color: white;
    float: left;
}


div#main {
    display: flex;
    float: right;
}






footer {
    display: block;
}