@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500;600;700&family=Passion+One:wght@400;700&display=swap');



:root {
    --cor1: #51C1F1;
    --cor2: #22B5F4;
    --cor3: #07ADF5;
    --cor4: #0191D0;
    --cor5: #016590;
}

* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}




/* GERAL */


html {
    width: 100%;
    background-color: var(--cor1);
}



body {
    width: 98vw;
    max-width: 1200px;
    margin: auto;
}

p {
    margin: 10px;
}






/*Header importado */


nav#nav1 {
    background-color: var(--cor3);    
    font-size: 20px;
    padding: 5px;
}


nav > a {
    text-decoration: none;
    background-image: linear-gradient(to bottom, var(--cor1),var(--cor2));
    color: black;
    border-radius: 10px 10px 0 0;
    padding: 5px;
}


nav > a:hover {
    background-image: var(--cor1);
    color: white;
    border-radius: 10px 10px 0 0;
    transition: 0.3s;
}



/* MAIN */



section#top {
    display: block;
    background-color: black;
    height: 3px;
}

main {
    display: flex;
    width: 100%;
}

/* MENU LATERAL */

nav#nav2 {
    display: block;
    width: 160px;
    max-width: 30%;
    background-color: var(--cor2);
}

nav > ul > ul {
    height: 30px;
    background-color: white;   
}
nav > ul > li {
    height: 30px;
    background-color: rgb(255, 241, 115);
    text-indent: 1em;  
}



nav > ul > ul > a {
    display: block;
    width: 150px;
    height: 20px;
    padding: 5px;
    background-image: linear-gradient(to bottom, var(--cor1),var(--cor3));
    border-radius: 10px 0 0 0;
    color: white;
    text-decoration: none;
}

nav > ul > ul > a:hover {
    display: block;
    width: 150px;
    height: 20px;
    padding: 5px;
    background-image: linear-gradient(to bottom, var(--cor1),var(--cor3));
    color: white;
    text-decoration: none;
    border-radius: 0px 0 100px 0;
    transition: 0.3s;
}




nav > ul > li > a {
    display: block;
    width: 150px;
    height: 20px;
    padding: 5px;
    background-color: var(--cor3);
    color: white;
    text-decoration: none;

}


nav > ul > li > a:hover {
    display: block;
    width: 150px;
    height: 20px;
    padding: 5px;
    background-image: linear-gradient(to bottom, var(--cor1),var(--cor3));
    color: white;
    text-decoration: none;
    border-radius: 0px 0 100px 0;
    transition: 0.3s;
}   

/* CONTEÚDO */

div#main {
    display: block;
    background-color: rgb(255, 255, 255);
    width: 100%;
}




input {
    display: none;
}

input.botao {
    display: block;
}

label {
    display: block;
    width: auto;
    height: 30px;
    border: 1px solid black;
    border-radius: 3px;
    margin: 5px;
    padding: 5px;
}

label:hover {
    background-color: rgb(209, 209, 209);
    cursor: pointer;
    transition: 0.1s;
}

label:active {
    background-color: yellow;
}

label:focus{
    background-color: green;
}


input.botao {
    font-size: 1.2em;
    color: var(--cor5);
    margin: 10px;
    padding: 15px;
    border: var(--cor3) 2px solid;
    border-radius: 10px;
    border-radius: 10px;
    background: linear-gradient(225deg, #ffffff, #e6e6e6);
    box-shadow:  -13px 13px 100px #f0f0f0,
                 13px -13px 100px #ffffff;
}

input.botao:active {
    border-radius: 10px;
    background: linear-gradient(225deg, #e6e6e6, #ffffff);
    box-shadow:  -13px 13px 100px #f0f0f0,
                 13px -13px 100px #ffffff;
}

section.resposta {
    display: none;
}
/* FOOTER */

footer {
    margin-top: auto;
    width: 100%;
}