<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Lumi</title>
    <link rel="stylesheet" href="/anexos/estilos/style.css" media="all">
    <script src="/anexos/scripts/script.js" defer></script>
    <style>
        #nav0x {
            background: var(--cor4);
            color: var(--fundo);
        }
        
    </style>
</head>
<body>
    <header id="header1"></header> 
    <main>
        
    </main>
    <footer></footer>
</body>
</html>