@charset "UTF-8";
@font-face {
    font-family: DynaPuff;
    src: url(fontes/GAME_glm.ttf);
}
@font-face {
    font-family: EBGaramond;
    src: url(fontes/EBGaramond-VariableFont_wght.ttf);
}
@font-face {
    font-family: Lato;
    src: url(fontes/Lato-Regular.ttf);
}

:root {
    --fon1: DynaPuff;
    --fon2: EBGaramond;
    --fon3: Lato;

    --preto: #000000;
    --branco: #ffffff;
    --trans: #00000000;
    --fundob: #f6f6f6;
    --fundop: #252525;

    --azul1: #B7E8FD;
    --azul2: #5DCBFA;
    --azul3: #07ADF5;
    --azul4: #056F9C;
    --azul5: #023145;

    --amar1: #FDE8B7;
    --amar2: #FACB5D;
    --amar3: #F5AD07;
    --amar4: #9C6F05;
    --amar5: #453102;

    --verd1: #1be41b;
    --verd2: #1b9c1b;
    --verm1: #E40909;
    --verm2: #9c1b1b;
}

* {
    font: clamp(1rem, 5vw, 1.1rem) var(--fon2), var(--fon3), 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
html {
    background-color: #000;
    background-image: url(/lumi/anexos/img/fundo-star.gif);
    background-position: center;
    background-size: cover;
    overflow: clip;
}
body {
    height: 100svh;
    overflow: scroll;
}
main {
    min-width: 300px;
    width: calc(100% - 2rem);
    max-width: 1200px;
    margin: auto;
}
h1 {
    font-family: var(--fon1);
}
p {
    line-height: 1.8rem;
    text-align: justify;
    margin: 0.3rem 0;
}
address {
    display: inline-block;
}
button {
    cursor: pointer;
}
img {
    display: block;
}
input[type='email'], textarea {
    display: block;
    margin-bottom: 0.5rem;
    width: 100%;
    text-wrap: wrap;
    field-sizing: content;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}



/* 01 */
/* 01 */
/* 01 */
.body00 * {
    color: #fff;
    text-decoration: none;
}


.header00 {
    min-height: 6rem;
    padding: 1rem;
}
.h100 {
    font-size: clamp(1rem, 8vw, 3rem);
    text-align: center;
    text-wrap: balance;
    height: 10svh;
    padding: 0 1rem;
    overflow: clip;
}
.main00 {
    min-height: calc(100% - 10rem);
}
.cristal {
    padding: 1rem;
    border: double #fff;
    border-radius: 0.5rem;
}

.footer00 {
    display: flex;
    align-items: center;
    justify-content: end;

    height: 2rem;
    padding: 0 1rem;
    
    font-size: 0.9rem;
    text-align: end;
}
.footer00 * {
    font-size: 0.9rem;
}
.footer00 > div > a {
    text-decoration: underline;
}
/* .footer00 *  */


/* 02 */
/* 02 */
/* 02 */








/* 03 */
/* 03 */
/* 03 */
.body03 * {
    color: #fff;
    scrollbar-width: none;
}

.h103 {
    font-size: clamp(1rem, 3vh, 2rem);
    text-align: center;
    text-wrap: balance;
    height: 10svh;
    padding: 0 1rem;
    overflow: clip;
}
.h203 {
    font-size: clamp(1.2rem, 5vw, 1.6rem);
    text-align: center;
    text-decoration: underline;
    padding: 0.5rem;
}

.main03 {
    width: calc(90% - 10vw);
    height: 90svh;
    padding: 0 5vw;
    overflow: clip;
}
.section3 {
    overflow-y: clip;
    border: thick double var(--branco);
    border-radius: 1rem;
    margin: 1.5rem 0;
    transform: translate(-100%);
    opacity: 0;
    transition: max-height 1s, transform 1s, opacity 1s;
}

.botao03 {
    background-color: var(--preto);
    font-family: var(--fon1);
    text-wrap: nowrap;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
}
.select03 {
    background-color: var(--preto);
    font-size: clamp(1rem, 5vw, 2rem);
    padding: 0.5rem;
    border: 2px solid var(--branco);
    border-radius: 10px;
    cursor: pointer;
}

/* BOTOES */
.botao-icone {
    position: absolute;
    background-color: var(--preto);
    aspect-ratio: 1;
    border-radius: 5px;
}
.icon-botao {
    background-color: var(--branco);
    width: clamp(1rem, 7vw, 2rem);
    filter: invert(100%);
}
#bback {
    left: var(--bm);
    top: var(--bm);
}
#bconf, #bajuda, #bvolu, #bdark {
    top: var(--bm);
    right: var(--bm);
}
#bmaxi {
    bottom: var(--bm);
    right: var(--bm);
    opacity: 50%;
}

/* POP UP */
.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    background-color: var(--preto);
    padding: 0 1rem;
    border: 3px solid var(--branco);
    border-radius: 15px;
}
#ajuda {
    display: block;
    width: 80%;
    height: 80%;
}

.h1-ajuda {
    font: clamp(1rem, 7vw, 2rem) var(--fon1);
    text-align: center;
    text-wrap: balance;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
}
.mid-ajuda {
    height: 75%;
    overflow: scroll;
}

.botao-ajuda {
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bot-ajuda {
    position: absolute;
    bottom: var(--bm);
    left: var(--bm);
}
.bot-ajuda , .bot-ajuda * {
    font-size: 1rem;
}