@charset "UTF-8";
@font-face {
    font-family: DynaPuff;
    src: url(fontes/GAME_glm.ttf);
}
@font-face {
    font-family: EBGaramond;
    src: url(fontes/EBGaramond-VariableFont_wght.ttf);
}
@font-face {
    font-family: Lato;
    src: url(fontes/Lato-Regular.ttf);
}

:root {
    --fon1: DynaPuff;
    --fon2: EBGaramond;
    --fon3: Lato;

    --preto: #000000;
    --branco: #ffffff;
    --trans: #00000000;
    --fundob: #f6f6f6;
    --fundop: #252525;

    --azul1: #B7E8FD;
    --azul2: #5DCBFA;
    --azul3: #07ADF5;
    --azul4: #056F9C;
    --azul5: #023145;

    --amar1: #FDE8B7;
    --amar2: #FACB5D;
    --amar3: #F5AD07;
    --amar4: #9C6F05;
    --amar5: #453102;

    --verd1: #1be41b;
    --verd2: #1b9c1b;
    --verm1: #E40909;
    --verm2: #9c1b1b;
}

* {
    font: clamp(1rem, 5vw, 1.1rem) var(--fon2), var(--fon3), 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
html {
    background-color: #000;
    background-image: url(/lumi/anexos/img/fundo-star.gif);
    background-position: center;
    background-size: cover;
    overflow: clip;
}
body {
    height: 100svh;
    overflow: scroll;
}
main {
    min-width: 300px;
    width: calc(100% - 2rem);
    max-width: 1200px;
    margin: auto;
    min-height: calc(100% - 10rem);
}
h1 {
    font-family: var(--fon1);
}
a {
    color: #000;
    text-decoration: none;
}
p {
    line-height: 1.8rem;
    text-align: justify;
    margin: 0.3rem 0;
}
address {
    display: inline-block;
}
button {
    cursor: pointer;
}
img {
    display: block;
}
input[type='email'], textarea {
    display: block;
    margin-bottom: 0.5rem;
    width: 100%;
    text-wrap: wrap;
    field-sizing: content;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}



/* 01 */
/* 01 */
/* 01 */
.body00 * {
    color: #fff;
    text-decoration: none;
}


.header00 {
    min-height: 6rem;
    padding: 1rem;
}
.h100 {
    font-size: clamp(1rem, 8vw, 3rem);
    text-align: center;
    text-wrap: balance;
    height: 10svh;
    padding: 0 1rem;
    overflow: clip;
}


.main00 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.cristal {
    background-color: #000;
    width: 10rem;
    height: 15rem;
    padding: 1rem;
    border: double #fff;
    border-radius: 0.5rem;
    margin: 1rem;
    transition: width 0.1s, height 0.1s;
}
.cristal:hover {
    width: 10.2rem;
    height: 15.2rem;
}
.cristal > h2 {
    height: 5rem;

    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}
.cristal:hover > h2 {
    text-decoration: underline;
}


.footer00 {
    display: flex;
    align-items: center;
    justify-content: end;

    height: 2rem;
    padding: 0 1rem;
    
    color: #fff;
    font-size: 0.9rem;
    text-align: end;
}
.footer00 * {
    color: #fff;
    font-size: 0.9rem;
}
.footer00 > div > a {
    text-decoration: underline;
}



/* 02 */
/* 02 */
/* 02 */

/* 00 */

/* 01 */
.body02-1 {
    position: relative;
    animation: 1s ani-left forwards;
    left: -100%;
}

.header02 {
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 8%;
}
.header02 > div {
    padding: 1rem;
    border-radius: 1rem;
    
    background-color: var(--fundob);
}


.main02 {
    min-height: 89%;
}
.section02 {
    background-color: #f0f0f0;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    opacity: 0;
    transform: translateX(2rem);
}
#sect-0201 {
    animation: lado05 0.75s forwards 1s;
}
#sect-0202 {
    animation: lado05 0.75s forwards 1.1s;
}
#sect-0203 {
    animation: lado05 0.75s forwards 1.2s;
}
#sect-0204 {
    animation: lado05 0.75s forwards 1.3s;
}
#sect-0205 {
    animation: lado05 0.75s forwards 1.4s;
}
#sect-0206 {
    animation: lado05 0.75s forwards 1.5s;
}
.section02 > a, .section02 > a:visited, .section02 > a::before {
    color: var(--preto);
    content: "• ";
    text-decoration: underline;
}


.footer02 {
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 3%;
    background-color: var(--azul5);
    text-align: center;
}
.footer02 * {
    color: var(--branco);
    font-size: 0.9rem;
}
.footer02 > div > a {
    text-decoration: underline;
}


/* TEORIA */

.body02-teoria {
    background: var(--azul3) url(/lumi/anexos/img/fundo-azul3.png)
}
.body02-matematica {
    background: var(--amar2) url(/lumi/anexos/img/fundo-amar1.png)
}
.body02-tech {
    background: var(--azul3) url(/lumi/anexos/img/fundo-cinza.png)
}

/* PRATICA */

.body02-pratica {
    background: var(--azul3) url(/lumi/anexos/img/fundo-azul5.png)
}


/* 02 */

.main02-2 {
    border-radius: 0.5rem;

    background-color: var(--fundob);
}

/* CARD */
.div-card {
    border: 1px solid #000;
    border-radius: 0.5rem;
}
.card {
    display: block;
    text-decoration: none;
}
.card > h2 {
    box-shadow: 10px 10px;
}
.card:visited {
    color: #000;
}



/* ENUNCIADO */
.enunciado {
    padding: 0.5rem;
}
.figure {
    width: 90%;
}
.img02 {
    width: clamp(100px, 50vh, 90vw);
    border: 1px solid var(--preto);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.33);
}
.figure *, .caption, .caption * {
    font-size: 0.8rem;
    text-align: end;
}
.caption {    
    width: 80%;
    margin: 0 0 1rem auto;
}
.link-dica {
    text-decoration: 2px underline var(--amar2);
    cursor: pointer;
}

.dica {
    display: none;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);

    background-color: var(--amar1);
    border: thick double var(--preto);
    border-radius: 5px;

    padding: 0.5rem;
}
.dica > button {
    color: var(--preto);
    display: block;
    background-color: var(--fundo);
    border-radius: 5px;
    padding: 0.2rem;
}

/* OPÇÕES */
input[type="radio"] {
    display: none;
}
.label-opt {
    font-size: 1.2rem;
    display: block;
    background-color: var(--branco);
    padding: 0.3rem;
    border: 1px outset var(--preto);
    border-radius: 5px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.33);
    margin: 0.2rem 0;
}
.label-opt:hover {
    background-color: var(--azul1);
    cursor: pointer;
    transition: 0.2s;
}
.label-opt:active {
    background-color: var(--azul3);
    transition: 0.1s;
    box-shadow: 2px 2px rgba(0, 0, 0, 0);
}
.enunciado input[type="radio"]:checked + label{
    background-color: var(--azul2);
}
.imgopt {
    width: 16rem;
    margin: 0 1.5rem;
}

.bresponder {
    position: relative;
    background: transparent;
    font: 400 1.1rem var(--fon1);
    padding: 0.5rem 1rem;
    border: 1px solid rgb(61, 106, 255);
    border-radius: 0.5rem;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.33);
    margin: 1.5rem 0.5rem;
    overflow: hidden;
    transition: all 0.2s ease-in;
}
.bresponder:hover {
    font-weight: 500;
    color: var(--branco);
    background: var(--azul4);
    box-shadow: 0 0 30px 5px var(--azul3);
    transition: all 0.2s ease-out;
}  
.bresponder:hover::before {
    animation: sh02 0.5s 0s linear;
}  
.bresponder::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    transform: skewX(-20deg);
}  
@keyframes sh02 {
    from {
      opacity: 0;
      left: -100%;
    }
  
    50% {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      left: 150%;
    }
}  
.bresponder:active {
    box-shadow: 0 0 0 0 transparent;
    transition: box-shadow 0.2s ease-in;
}

/* GABARITO */
.gabarito {
    display: block;
    padding: 1rem;
    animation: aparecer 0.5s;
}
#resposta {
    font: bold 1.5rem var(--fon1);
}

.bsreso {
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 90%;
    padding: 0.8rem 1rem;
    border-radius: 3rem;
    margin: 1rem auto;

    background-color: var(--branco);
    box-shadow: 0 0 1px var(--azul1), 4px 8px 12px var(--azul5);
}

.label-breso {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0.4rem 1rem;
    border-radius: 3rem;

    background-color: var(--branco);
    text-align: center;

    cursor: pointer;
    transition: 0.25s ease-in;
}
.label-breso:hover {
    background-color: var(--azul1);
}
.gabarito input[type="radio"]:checked + label {
    background-color: var(--azul5);
    color: var(--branco);
}

.reso {
    padding: 1rem;
    transition: 1s;
    animation: aparecer 1s;
}
#reso1, #reso2, #reso3, #vdo2 {
    display: none;
}

.reso > p {
    padding: 0.3rem;
}
math {
    padding: 0.5rem;
}

.video {
    display: block;
    width: 80%;
    margin: 1rem auto;
    animation: aparecer 1s;
}
#vdo1 {
    aspect-ratio: 16/9;
}
#vdo2 {
    aspect-ratio: 9/16;
    max-height: 500px;
}







/* 03 */
/* 03 */
/* 03 */
.body03 * {
    color: #fff;
    scrollbar-width: none;
}

.h103 {
    font-size: clamp(1rem, 3vh, 2rem);
    text-align: center;
    text-wrap: balance;
    height: 10svh;
    padding: 0 1rem;
    overflow: clip;
}
.h203 {
    font-size: clamp(1.2rem, 5vw, 1.6rem);
    text-align: center;
    text-decoration: underline;
    padding: 0.5rem;
}

.main03 {
    width: calc(90% - 10vw);
    height: 90svh;
    padding: 0 5vw;
    overflow: clip;
}
.section3 {
    overflow-y: clip;
    border: thick double var(--branco);
    border-radius: 1rem;
    margin: 1.5rem 0;
    transform: translate(-100%);
    opacity: 0;
    transition: max-height 1s, transform 1s, opacity 1s;
}

.botao03 {
    background-color: var(--preto);
    font-family: var(--fon1);
    text-wrap: nowrap;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
}
.select03 {
    background-color: var(--preto);
    font-size: clamp(1rem, 5vw, 2rem);
    padding: 0.5rem;
    border: 2px solid var(--branco);
    border-radius: 10px;
    cursor: pointer;
}

/* BOTOES */
.botao-icone {
    position: absolute;
    background-color: var(--preto);
    aspect-ratio: 1;
    border-radius: 5px;
}
.icon-botao {
    background-color: var(--branco);
    width: clamp(1rem, 7vw, 2rem);
    filter: invert(100%);
}
#bback {
    left: var(--bm);
    top: var(--bm);
}
#bconf, #bajuda, #bvolu, #bdark {
    top: var(--bm);
    right: var(--bm);
}
#bmaxi {
    bottom: var(--bm);
    right: var(--bm);
    opacity: 50%;
}

/* POP UP */
.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    background-color: var(--preto);
    padding: 0 1rem;
    border: 3px solid var(--branco);
    border-radius: 15px;
}
#ajuda {
    display: block;
    width: 80%;
    height: 80%;
}

.h1-ajuda {
    font: clamp(1rem, 7vw, 2rem) var(--fon1);
    text-align: center;
    text-wrap: balance;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
}
.mid-ajuda {
    height: 75%;
    overflow: scroll;
}

.botao-ajuda {
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bot-ajuda {
    position: absolute;
    bottom: var(--bm);
    left: var(--bm);
}
.bot-ajuda , .bot-ajuda * {
    font-size: 1rem;
}



/* keyframes */
/* keyframes */
/* keyframes */


@keyframes ani-opacity {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes ani-left {
    from {left: -100%}
    to {left: 0%}
}
@keyframes ani-desaparecer {
    0% {background: #000000ff;}
    100% {background: #00000000;}
}
@keyframes lado05 {
    0% {opacity: 0; transform: translateX(2rem);}
    100% {opacity: 1; transform: translateX(0rem);}
}